<!DOCTYPE html>
<html>
<head>
	<title>Accountable</title>
</head>

<body>
	<header>
	</header>
	<h1>Welcome to Accountable</h1>
			<p>Are you ready to stop wishing and start doing? Accountable is THE website to declare your goals and work towards accomplishing them. With weekly check-ins and progress reports, you will be well on your way to getting things done!</p>
			<br />
			<p>
      <%= link_to 'State Your Goal', new_goal_path %>
      		<p>

			<h2><%= @goal.desire %></h2>
			<h3>- <%= @goal.person %></h3>
</body>
</html>